<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>IP Get Info</title>
    <meta name="description" content="Obtain detailed information of almost all IPs in the world">
    <meta name="og:title" content="IP Get Info">
    <meta name="og:description" content="Obtain detailed information of almost all IPs in the world">
    <meta name="og:image" content="https://c.tenor.com/C9yxFcjG0OsAAAAd/world-connected-planet.gif">
    <meta name="theme-color" content="#08163B">
    <meta name="og:type" content="website">
    <meta name="og:author" content="MDCDEV">
    <link rel="manifest" href="/site.webmanifest">
    <link type="text/css" rel="stylesheet" href="css/main.css" />

<body>
    <main class="container">

        <hgroup>
            <h1>IP Get Info</h1>
            <h2>Obtain detailed information of almost all IPs in the world</h2>
        </hgroup>

        <form id="form">

            <label>
                IP Address:
                <input required id="input" placeholder="Introduce una IP aqui" type="text">
                <small>Example: 8.8.8.8</small>
            </label>

            <button type="submit" id="submit">
                Get Info
            </button>

        </form>

        <div>
            <pre id="results" class="prettyprint"></pre>
        </div>

        <footer class="container">
            <small>Made by <a href="https://youtube.com/c/MDCPE">MDCDEV</a>
        </footer>

    </main>

    <script type="module" src="js/index.js"></script>
</body>

</html>